################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.Utils.dll
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.tasks
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.targets
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.Reporting.dll
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.Parser.dll
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.Generator.dll
/packages/SpecFlow.1.9.0/tools/TechTalk.SpecFlow.dll
/packages/SpecFlow.1.9.0/tools/specflow.exe
/packages/SpecFlow.1.9.0/tools/IKVM.Runtime.dll
/packages/SpecFlow.1.9.0/tools/IKVM.OpenJDK.Util.dll
/packages/SpecFlow.1.9.0/tools/IKVM.OpenJDK.Text.dll
/packages/SpecFlow.1.9.0/tools/IKVM.OpenJDK.Security.dll
/packages/SpecFlow.1.9.0/tools/IKVM.OpenJDK.Core.dll
/packages/SpecFlow.1.9.0/tools/Gherkin.dll
/packages/SpecFlow.1.9.0/tools
/packages/SpecFlow.1.9.0/SpecFlow.1.9.0.nupkg
/packages/SpecFlow.1.9.0/LICENSE.txt
/packages/SpecFlow.1.9.0/lib/sl4-wp/TechTalk.SpecFlow.WindowsPhone7.dll
/packages/SpecFlow.1.9.0/lib/sl4-wp
/packages/SpecFlow.1.9.0/lib/sl3/TechTalk.SpecFlow.Silverlight3.dll
/packages/SpecFlow.1.9.0/lib/sl3
/packages/SpecFlow.1.9.0/lib/net35/TechTalk.SpecFlow.dll
/packages/SpecFlow.1.9.0/lib/net35
/packages/SpecFlow.1.9.0/lib
/packages/SpecFlow.1.9.0/content/App.config.transform
/packages/SpecFlow.1.9.0/content
/packages/SpecFlow.1.9.0/changelog.txt
/packages/SpecFlow.1.9.0/.signature.p7s
/packages/SpecFlow.1.9.0
/obj/Release/BerlinClock.csproj.CoreCompileInputs.cache
/obj/Release
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/BerlinClock.pdb
/obj/Debug/BerlinClock.dll
/obj/Debug/BerlinClock.csprojResolveAssemblyReference.cache
/obj/Debug/BerlinClock.csproj.FileListAbsolute.txt
/obj/Debug/BerlinClock.csproj.CoreCompileInputs.cache
/obj/Debug/BerlinClock.csproj.CopyComplete
/obj/Debug
/obj
/bin/Debug/TechTalk.SpecFlow.dll
/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
/bin/Debug/BerlinClock.pdb
/bin/Debug/BerlinClock.dll.config
/bin/Debug/BerlinClock.dll
/bin/Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/DotNetBerlinClock/v15/.suo
/.vs/DotNetBerlinClock/v15
/.vs/BerlinClock/v15/Server/sqlite3/storage.ide-wal
/.vs/BerlinClock/v15/Server/sqlite3/storage.ide-shm
/.vs/BerlinClock/v15/Server/sqlite3/storage.ide
/.vs/BerlinClock/v15/Server/sqlite3/db.lock
/.vs/BerlinClock/v15/Server/sqlite3
/.vs/BerlinClock/v15/.suo
/.vs/BerlinClock/v15
/.vs
